* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    background: #2c2c2c;
    padding: 20px;

    display: grid;
    grid-template-columns: 220px 1fr 1fr;

    
    grid-template-rows:
        70px     
        180px    
        160px    
        70px;    

    gap: 15px;
}


.header {
    grid-column: 1 / -1;
    background: #7b68ee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}


.sidebar {
    grid-row: 2 / 4;
    background: #2dd4bf;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
    font-weight: bold;
}


.content {
    background: linear-gradient(135deg, #6366f1, #22d3ee);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


.content-1 {
    grid-column: 2 / 4;
}


.footer {
    grid-column: 1 / -1;
    background: #7b68ee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
